/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00004f !important;
  margin: 0;
  text-align: center;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #3498db;
  background-color: #3498db;
  color: white;
  border-radius: 8px !important;

  transition: all 0.3s ease;
}

p {
  margin-top: 50px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
} */
