.firstProfilSection {
  padding: 100px;
}

.aboutUser.row {
  background-color: #001a88;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 9, 179, 0.593);
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin-top: 20px;
}

.user-info-box {
  margin-bottom: 20px;
}

.info-label {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.info-value {
  color: #ff3b30;
  font-weight: 500;
  margin-left: 5px;
}

.btn-user-products {
  background-color: #db4444;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-user-products:hover {
  background-color: #bb3c3c;
}

.buttonUser {
  /* padding: 0px 87px; */
  margin: 55px 0 20px 87px;
}
