.top-banner {
  background-color: #db4444;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}

.shop-now-link {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: underline;
}

.active-link {
  border-bottom: 2px solid #000;
  font-weight: 500;
}

.btn-danger-custom {
  background-color: #db4444 !important;
  border: none !important;
  color: white !important;
  padding: 6px 20px !important;
  border-radius: 4px !important;
}

.search-box-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #f5f5f5;
  border: none;
  padding: 7px 40px 7px 15px;
  border-radius: 4px;
  font-size: 14px;
  width: 240px;
}

.search-icon-svg {
  position: absolute;
  right: 10px;
  color: #000;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 40px 0;
}

.form-title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

.input-box {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #000000;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input:focus {
  border-color: #db4444;
}

.btn-submit {
  width: 100%;
  padding: 15px;
  background-color: #db4444;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}
.btn {
  gap: 20px !important;
}
.btn-submit:hover {
  background-color: #c43a3a;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #4c4c4c;
}

.login-link a {
  color: #db4444;
  text-decoration: none;
  font-weight: 500;
}

/*  */

.footer {
  background-color: #db4444; /* Orijinal qırmızı rəng */
  color: white;
  padding: 80px 5% 24px 5%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col {
  flex: 1;
  min-width: 200px;
}

.footer-col h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer-col h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.footer-col p {
  font-size: 16px;
  margin-bottom: 1px;
  line-height: 24px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 15px;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
  align-items: flex-start;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

.subscribe-box {
  display: flex;
  align-items: center;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 1px 15px;
  max-width: 240px;
}

.subscribe-box input {
  background: transparent;
  border: none;
  color: white;
  outline: none;
  width: 100%;
  font-size: 16px;
}

.subscribe-box input::placeholder {
  color: #fafafa;
  opacity: 0.6;
}

.subscribe-box button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.small-text {
  font-size: 12px !important;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px !important;
}

.download-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qr-code img {
  width: 80px;
  height: 80px;
  display: block;
}

.app-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.app-buttons img {
  width: 110px;
  height: 40px;
  object-fit: cover;
}

.social-icons {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 60px;
  padding-top: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
}
