/* .product-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  background-color: #fff;
  flex-wrap: wrap;
}

.product-card {
  width: 270px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-card > img:first-child {
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: #f5f5f5;
  padding: 35px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.current-price {
  color: #db4444;
  font-weight: 600;
  font-size: 16px;
}

.old-price {
  color: #000000;
  opacity: 0.5;
  text-decoration: line-through;
  font-weight: 500;
  font-size: 16px;
}

.rating-box {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
  align-items: center;
}

.stars img {
  width: auto;
  height: 20px;
  object-fit: contain;
}

.product-title {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-bottom: 8px;
  line-height: 24px;
} */
